h1{
    text-align: center;
    color: aliceblue;
    font-family: cursive;
    font-size: 50px;
}

body{
    background-color: #121212 ;
}

.choice-btn {
    display: inline-block;
    color: white;
    font-weight: bold;
    background-color: cornflowerblue;
    padding: 10px;
    border-radius: 10px;
    border: none;
}

.choice-btn:hover {
    background-color: blueviolet;
    color: white;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer ;
}

div {
    display: flex;
    justify-content: center;
    gap: 50px;
    color: aqua;
    font-family: cursive;
}

.reset-btn {
    background-color: red;
    border: none;
    color: white;
    font-weight: bold;
    padding: 10px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}
